:root {
    --color-body: #E8DAB2;
    --color-card: #ececec;
    --color-background: #090909;
    --color-link:#35B1D2;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 65.5%;
}

body {
    background-color: var(--color-body);
}

.title {
    font-family: 'Raleway';
    font-size: 5.2rem;
}

.subtitle {
    font-family: 'Raleway';
    font-style: italic;
    font-size: 2.3rem;
}

h2 {
    font-family: 'Raleway';
    font-size: 3.0rem;
}

p {
    font-family: 'Raleway';
    font-size: 1.6rem;
    line-height: 2.4rem;

    margin-bottom: 2rem;
}

li {
    font-family: 'Raleway';
    font-size: 1.6rem;
    line-height: 2.4rem;

    margin-bottom: 2rem;
}

/* Esconde uma tag */
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.center {
    margin-left: 50%;
    transform: translateX(-50%);
}

/* Scroll */
::-webkit-scrollbar-track {
    background-color: var(--color-body);
}
::-webkit-scrollbar {
    width: 5px;
    background: var(--color-body);
}
::-webkit-scrollbar-thumb {
    background: var(--color-background);
}